<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>

			<client>
				<wellknown type="Binaria.WMSTek.AdminService.ProfileSRV, WebClientService"
						   url="http://localhost:1234/ProfileSRV.soap" />
			</client>

		</application>
	</system.runtime.remoting>
</configuration>
