/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  transition: left 0.2s;
}

#sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 96.4%;
    left: -200px;
    overflow: auto;
    z-index: 10000000;
    background-color: #174686;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
    box-sizing: border-box;
    margin-bottom: -160px;
    padding-bottom: 160px;
}

#footer {
  box-sizing: border-box;
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }
  
  #sidedrawer {
    transform: translate(200px);
  }
  
  #content-wrapper {
    margin-left: 200px;
  }
  
  #footer {
    margin-left: 200px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
    font-size: 13px;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    color: #C7DCED;
}

#sidedrawer a {
    font-size: 12px;
}

#sidedrawer a:hover {
    color: white !important;
    text-decoration: underline;
}

#sidedrawer strong:hover {
  /*background-color: #E0E0E0;*/
}

#sidedrawer strong + ul > li {
  padding: 2px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

/* cabecera menu */

.img-circle-custom {
    border: 1px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#userHeader {
    padding-top: 5px;
    width: 100%;
    padding: 10px 1px 1px 10px;
}

#userInfo {
    display: block !important;
}

.lblUserName {
    color: white;
    display: block;
    margin-bottom: 5px;
    width: 50%;
    margin: auto;
}

/* fin cabecera menu */