<?xml version="1.0"?>

<instances>

  <!--I18N-->
  <instance>
    <table_name>CfgDictionary</table_name>
    <column_name>IdDictionary</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.I18N.Dictionary</class_name>
  </instance>

  <!--LAYOUT-->
  <instance>
    <table_name>Hangar</table_name>
    <column_name>IdHng</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.Hangar</class_name>
  </instance>
  <instance>
    <table_name>City</table_name>
    <column_name>IdCity</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.City</class_name>
  </instance>
  <instance>
    <table_name>Company</table_name>
    <column_name>IdCompany</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.Company</class_name>
  </instance>
  <instance>
    <table_name>Country</table_name>
    <column_name>IdCountry</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.Country</class_name>
  </instance>
  <instance>
    <table_name>State</table_name>
    <column_name>IdState</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.State</class_name>
  </instance>
  <instance>
    <table_name>Warehouse</table_name>
    <column_name>IdWhs</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.Warehouse</class_name>
  </instance>
  <instance>
    <table_name>WorkZone</table_name>
    <column_name>IdWorkZone</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Layout.WorkZone</class_name>
  </instance>

  <!--DISPATCHING-->

  <instance>
    <table_name>Dispatch</table_name>
    <column_name>IdDispatch</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.Dispatch</class_name>
  </instance>
  <instance>
    <table_name>DispatchDetail</table_name>
    <column_name>IdDispatchDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.DispatchDetail</class_name>
  </instance>
  <instance>
    <table_name>OutboundDetail</table_name>
    <column_name>IdOutboundDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.OutboundDetail</class_name>
  </instance>
  <instance>
    <table_name>OutboundOrder</table_name>
    <column_name>IdOutboundOrder</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.OutboundOrder</class_name>
  </instance>
  <instance>
    <table_name>OutboundType</table_name>
    <column_name>IdOutboundType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.OutboundType</class_name>
  </instance>
  <instance>
    <table_name>TrackOutboundType</table_name>
    <column_name>IdTrackOutboundType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.TrackOutboundType</class_name>
  </instance>
  <instance>
    <table_name>ReferenceDoc</table_name>
    <column_name>IdReferenceDoc</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Dispatching.ReferenceDoc</class_name>
  </instance>


  <!--DISPLAY-->

  <instance>
    <table_name>CfgDisplayType</table_name>
    <column_name>IdDisplayType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Display.DisplayType</class_name>
  </instance>

  <!--INVENTORY-->

  <instance>
    <table_name>InventoryDetail</table_name>
    <column_name>IdInventoryDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Inventory.InventoryDetail</class_name>
  </instance>
  <instance>
    <table_name>InventoryOrder</table_name>
    <column_name>IdInventoryOrder</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Inventory.InventoryOrder</class_name>
  </instance>
  <instance>
    <table_name>TrackInventoryType</table_name>
    <column_name>IdTrackInventoryType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Inventory.TrackInventoryType</class_name>
  </instance>

  <!--PROFILE-->

  <instance>
    <table_name>CfgUserWms</table_name>
    <column_name>IdUserWms</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Profile.User</class_name>
  </instance>
  <instance>
    <table_name>CfgRole</table_name>
    <column_name>IdRole</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Profile.Role</class_name>
  </instance>
  <instance>
    <table_name>CfgPermission</table_name>
    <column_name>IdPermission</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Profile.Permission</class_name>
  </instance>

  <!--RECEPTION-->

  <instance>
    <table_name>Receipt</table_name>
    <column_name>IdReceipt</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.Receipt</class_name>
  </instance>
  <instance>
    <table_name>InboundOrder</table_name>
    <column_name>IdInboundOrder</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.InboundOrder</class_name>
  </instance>
  <instance>
    <table_name>InboundDetail</table_name>
    <column_name>IdInboundDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.InboundDetail</class_name>
  </instance>
  <instance>
    <table_name>InboundType</table_name>
    <column_name>IdInboundType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.InboundType</class_name>
  </instance>
  <instance>
    <table_name>ReceiptDetail</table_name>
    <column_name>IdReceiptDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.ReceiptDetail</class_name>
  </instance>
  <instance>
    <table_name>TrackInboundType</table_name>
    <column_name>IdTrackInboundType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Reception.TrackInboundType</class_name>
  </instance>

  <!--RULES-->

  <instance>
    <table_name>CustomRule</table_name>
    <column_name>IdCustomRule</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Rules.CustomRule</class_name>
  </instance>
  <instance>
    <table_name>[Rule]</table_name>
    <column_name>IdRule</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Rules.Rule</class_name>
  </instance>

  <!--TASKS-->

  <instance>
    <table_name>Task</table_name>
    <column_name>IdTask</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Tasks.Task</class_name>
  </instance>
  <instance>
    <table_name>TaskDetail</table_name>
    <column_name>IdTaskDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Tasks.TaskDetail</class_name>
  </instance>

  <instance>
    <table_name>TaskSimulation</table_name>
    <column_name>IdTask</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Tasks.TaskSimulation</class_name>
  </instance>

  <instance>
    <table_name>TaskDetailSimulation</table_name>
    <column_name>IdTaskDetail</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Tasks.TaskDetailSimulation</class_name>
  </instance>

  <!--WAREHOUSING-->
  <instance>
    <table_name>Branch</table_name>
    <column_name>IdBranch</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Branch</class_name>
  </instance>
  <instance>
    <table_name>Carrier</table_name>
    <column_name>IdCarrier</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Carrier</class_name>
  </instance>
  <instance>
    <table_name>CategoryItem</table_name>
    <column_name>IdCtgItem</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.CategoryItem</class_name>
  </instance>
  <instance>
    <table_name>Item</table_name>
    <column_name>IdItem</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Item</class_name>
  </instance>
  <instance>
    <table_name>ItemUom</table_name>
    <column_name>IdUom</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.ItemUom</class_name>
  </instance>
  <instance>
    <table_name>MovementLog</table_name>
    <column_name>IdMovement</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Movement</class_name>
  </instance>
  <instance>
    <table_name>MovementType</table_name>
    <column_name>IdMovementType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.MovementType</class_name>
  </instance>
  <instance>
    <table_name>Owner</table_name>
    <column_name>IdOwn</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Owner</class_name>
  </instance>
  <instance>
    <table_name>Reason</table_name>
    <column_name>IdReason</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Reason</class_name>
  </instance>
  <instance>
    <table_name>Stock</table_name>
    <column_name>StockId</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Stock</class_name>
  </instance>
  <instance>
    <table_name>Vendor</table_name>
    <column_name>IdVendor</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Vendor</class_name>
  </instance>
  <instance>
    <table_name>Customer</table_name>
    <column_name>IdCustomer</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Customer</class_name>
  </instance>
  <instance>
  <table_name>CustomerB2B</table_name>
    <column_name>IdCustomerB2B</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.CustomerB2B</class_name>
  </instance>
  <instance>
    <table_name>Driver</table_name>
    <column_name>IdDriver</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Driver</class_name>
  </instance>
  <instance>
    <table_name>LpnType</table_name>
    <column_name>IdLpnType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.LpnType</class_name>
  </instance>
  <instance>
    <table_name>Serial</table_name>
    <column_name>IdSerial</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Serial</class_name>
  </instance>
  <instance>
    <table_name>SerialTrack</table_name>
    <column_name>IdSerialTrack</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.SerialTrack</class_name>
  </instance>
  <instance>
    <table_name>Kardex</table_name>
    <column_name>IdKardex</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.Kardex</class_name>
  </instance>
  <instance>
    <table_name>MovementAdjust</table_name>
    <column_name>IdMovementAdjust</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.MovementAdjust</class_name>
  </instance>
  <instance>
    <table_name>ItemVendor</table_name>
    <column_name>IdItemVendor</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.ItemVendor</class_name>
  </instance>
  <instance>
    <table_name>ItemCustomer</table_name>
    <column_name>IdItemCustomer</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.ItemCustomer</class_name>
  </instance>  

  <!--DEVICES-->
  <instance>
    <table_name>CfgMobileDevices</table_name>
    <column_name>IdMobileDevice</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Devices.Terminal</class_name>
  </instance>
  <instance>
    <table_name>PrinterType</table_name>
    <column_name>IdPrinterType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Devices.PrinterType</class_name>
  </instance>
  <instance>
    <table_name>Printer</table_name>
    <column_name>IdPrinter</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Devices.Printer</class_name>
  </instance>
  <instance>
    <table_name>ReferenceDocType</table_name>
    <column_name>IdReferenceDocType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.ReferenceDocType</class_name>
  </instance>
  <instance>
    <table_name>TruckType</table_name>
    <column_name>IdTruckType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.TruckType</class_name>
  </instance>
  <instance>
    <table_name>ParameterHistory</table_name>
    <column_name>IdParameterHistory</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Configuration.ParameterHistory</class_name>
  </instance>

  <!--PRINTER LABEL-->
  <instance>
    <table_name>TaskLabel</table_name>
    <column_name>IdTaskLabel</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Label.TaskLabel</class_name>
  </instance>

  <!--LABEL-->
  <instance>
    <table_name>Label</table_name>
    <column_name>IdLabel</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Label.TemplateLabel</class_name>
  </instance>

  <!--PRINTSERVER -->
  <instance>
    <table_name>PrintServer</table_name>
    <column_name>IdPrintServer</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Devices.PrintServer</class_name>
  </instance>

  <!-- MOVEMENTIFZ -->
  <instance>
    <table_name>MovementIfz</table_name>
    <column_name>IdMovIfz</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Integration.MovementIfz</class_name>
  </instance>

	<!-- REQUESTAPISEND -->
	<instance>
		<table_name>RequestApiSend</table_name>
		<column_name>IdRequsetApiSend</column_name>
		<class_name>Binaria.WMSTek.Framework.Entities.AsnApi.RequestApiSend</class_name>
	</instance>
	
  <!-- Descomentar -->
  <!-- UOMTYPE -->
  <instance>
    <table_name>UomType</table_name>
    <column_name>IdUomType</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.UomType</class_name>
  </instance>

  <!-- ROLEMODULE -->
  <instance>
    <table_name>CfgRoleModule</table_name>
    <column_name>IdRoleModule</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Profile.RoleModule</class_name>
  </instance>

  <!-- TEMPLATELINEROLE -->
  <instance>
    <table_name>CfgTemplateLineRole</table_name>
    <column_name>IdTemplateLineRole</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Display.TemplateLineRole</class_name>
  </instance>

  <!-- BILLING -->
  <instance>
	<table_name>BillingMoney</table_name>
	<column_name>idBillingMoney</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingMoney</class_name>
  </instance>

  <instance>
	<table_name>BillingContract</table_name>
	<column_name>idContract</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingContract</class_name>
  </instance>

  <instance>
	<table_name>BillingLog</table_name>
	<column_name>IdBillingLog</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingLog</class_name>
  </instance>

  <instance>
	<table_name>BillingTimeType</table_name>
	<column_name>IdBillingTimeType</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingTimeType</class_name>
  </instance>

  <instance>
	<table_name>BillingTransaction</table_name>
	<column_name>IdTransaction</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingTransaction</class_name>
  </instance>

  <instance>
	<table_name>BillingType</table_name>
	<column_name>IdBillingType</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingType</class_name>
  </instance>

  <instance>
	<table_name>BillingTypeContract</table_name>
	<column_name>IdBillingTypeContract</column_name>
	<class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingTypeContract</class_name>
  </instance>

  <instance>
    <table_name>BillingMode</table_name>
    <column_name>IdBillingMode</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Billing.BillingMode</class_name>
  </instance>

  <instance>
    <table_name>UsefulLife</table_name>
    <column_name>IdUsefulLife</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Warehousing.UsefulLife</class_name>
  </instance>

  <!-- PTL -->
  <instance>
    <table_name>WaveDispatch</table_name>
    <column_name>IdWaveDispatch</column_name>
    <class_name>Binaria.WMSTek.Framework.Entities.Ptl.WaveDispatch</class_name>
  </instance>


	<instance>
		<table_name>SimpliRouteVisit</table_name>
		<column_name>IdSimpliRouteVisit</column_name>
		<class_name>Binaria.WMSTek.Framework.Entities.Utility.SimpliRouteVisit</class_name>
	</instance>

</instances>




