<?xml version="1.0"?>
<pools>
	<pool_config code="WMSTek_WEB">
		<name>WMSTek_SQLSERVER</name>
		<data_source_name>Database=WMSTEK3_EIT;Server=ALOPEZ-NB\MSSQLSERVER2017;User ID=sa;Password=alexis.2017;MultipleActiveResultSets=true;</data_source_name>
		<driver_class>System.Data.SqlClient.SqlConnection,SqlClient</driver_class>
		<time_out>2500</time_out>
	</pool_config>
  <pool_config code="WMSTek_INTERFAZ">
    <name>WMSTek_SQLSERVER</name>
    <data_source_name>Database=WMSTEK3_RHONA_INTERFAZ;Server=ALOPEZ-NB\MSSQLSERVER2017;User ID=sa;Password=alexis.2017;MultipleActiveResultSets=true;</data_source_name>
    <driver_class>System.Data.SqlClient.SqlConnection,SqlClient</driver_class>
    <time_out>1500</time_out>
    <user>sa</user>
    <password>
    </password>
  </pool_config>
</pools>

