<?xml version="1.0"?>
<constantes>

  <MovementLog>
      <valor>MOVND</valor>
      <valor>MOVSL</valor>
      <valor>MOVD</valor>
      <valor>CDOKO</valor>
      <valor>PTBOX</valor>
  </MovementLog>
  <ReplenishmentLog>
    <valor>REPL</valor>
  </ReplenishmentLog>
  <InventoryLog>
    <valor>AJU</valor>
    <valor>INV</valor>
    <valor>CC</valor>
  </InventoryLog>
  <PutawayLog>
    <valor>PUT</valor>
  </PutawayLog>
  <ReceptionLog>
    <valor>RCPT</valor>
    <valor>CDOKO</valor>
  </ReceptionLog>
  <LocksLog>
    <valor>BKLPN</valor>
    <valor>RELPN</valor>
    <valor>BKITE</valor>
    <valor>REITE</valor>
  </LocksLog>
  <KitVasLog>
    <valor>KIT</valor>
    <valor>UNKIT</valor>
    <valor>VAS</valor>
  </KitVasLog>
  <OutboundLog>
    <valor>PICK</valor>
    <valor>PKWAV</valor>
    <valor>PKBAT</valor>
    <valor>PKPSS</valor>
    <valor>PKKIT</valor>
    <valor>PKUNK</valor>
    <valor>PKVAS</valor>
    <valor>UNPIK</valor>
    <valor>SORT</valor>
    <valor>PACK</valor>
    <valor>PTBOX</valor>
    <valor>RUTEO</valor>
    <valor>CLLPN</valor>
    <valor>LOAD</valor>
    <valor>SHIPP</valor>
    <valor>UNKIT</valor>
    <valor>AULPN</valor>
    <valor>AULOA</valor>
    <valor>CDOKO</valor>
  </OutboundLog>
  <ReverseLog>
    <valor>UNLOA</valor>
    <valor>UNKIT</valor>
    <valor>UNPIK</valor>
  </ReverseLog>
  <PickingTaskConsult>
    <valor>PIKOR</valor>
    <valor>PIKBT</valor>
    <valor>PIKWV</valor>
    <valor>PIKPS</valor>
    <valor>PIKIT</valor>
    <valor>PIUNK</valor>
    <valor>PIKVA</valor>
  </PickingTaskConsult>
  <PackageTaskConsult>
    <valor>PAKOR</valor>
    <valor>SORT</valor>
  </PackageTaskConsult>
  <TaskPriorities>
    <valor>PIKOR</valor>
    <valor>PIKBT</valor>
    <valor>PIKWV</valor>
    <valor>PIKPS</valor>
    <valor>PIKIT</valor>
    <valor>PIUNK</valor>
    <valor>PIKVA</valor>
    <valor>PAKOR</valor>
    <valor>SORT</valor>
    <valor>REPL</valor>
    <valor>CCNT</valor>
    <valor>CCPC</valor>
    <valor>RUTEO</valor>
    <valor>LOAD</valor>
    <valor>AJU</valor>
    <valor>MDLPN</valor>
    <valor>MDITM</valor>
    <valor>KIT</valor>
    <valor>UNKIT</valor>
    <valor>VAS</valor>
  </TaskPriorities>
  <ReasonCodes>
    <valor>LFULL</valor>
    <valor>LUNAV</valor>
    <valor>LINUS</valor>
    <valor>LINVA</valor>
    <valor>LEMPT</valor>
    <valor>SLESS</valor>
    <valor>SBAD</valor>
    <valor>CCADM</valor>
  </ReasonCodes>
  <TypeTaskCodes>
    <valor>PIKOR</valor>
    <valor>PIKBT</valor>
    <valor>PIKWV</valor>
    <valor>PIKPS</valor>
    <valor>PIKIT</valor>
    <valor>PIUNK</valor>
    <valor>PIKVA</valor>
    <valor>PAKOR</valor>
    <valor>SORT</valor>
    <valor>REPL</valor>
    <valor>CCNT</valor>
    <valor>CCPC</valor>
    <valor>RUTEO</valor>
    <valor>LOAD</valor>
    <valor>AJU</valor>
    <valor>MDLPN</valor>
    <valor>MDITM</valor>
    <valor>KIT</valor>
    <valor>UNKIT</valor>
    <valor>VAS</valor>
  </TypeTaskCodes>
  <SatisfactionLevelTrackOutboundType>
    <valor>1</valor>
    <valor>9</valor>
    <valor>11</valor>
    <valor>15</valor>
    <valor>16</valor>
    <valor>17</valor>
    <valor>19</valor>
    <valor>21</valor>
    <valor>31</valor>
    <valor>41</valor>
    <valor>51</valor>
    <valor>61</valor>
  </SatisfactionLevelTrackOutboundType>
  <OutboundOrderReadyForDispatchTrackOutboundType>
    <valor>21</valor>
    <valor>41</valor>
    <valor>51</valor>
  </OutboundOrderReadyForDispatchTrackOutboundType>
  <OutboundOrderReadyForDispatchOutboundType>
    <valor>1</valor>
    <valor>2</valor>
    <valor>3</valor>
  </OutboundOrderReadyForDispatchOutboundType>
  <Condition>
    <valor>1,Si</valor>
    <valor>0,No</valor>
  </Condition>
  <Status>
    <valor>1,Valida</valor>
    <valor>0,Anulada</valor>
  </Status>
  <OutboundType>
    <valor>1</valor>
    <valor>2</valor>
    <valor>3</valor>
    <valor>4</valor>
    <valor>5</valor>
    <valor>6</valor>
    <valor>7</valor>
  </OutboundType>
  <PackagesConsultTrackOutboundType>
    <valor>10</valor>
    <valor>11</valor>
    <valor>12</valor>
    <valor>13</valor>
    <valor>14</valor>
    <valor>15</valor>
    <valor>16</valor>
    <valor>17</valor>
    <valor>18</valor>
    <valor>19</valor>
    <valor>20</valor>
    <valor>21</valor>
    <valor>22</valor>
    <valor>23</valor>
    <valor>24</valor>
    <valor>25</valor>
    <valor>26</valor>
    <valor>27</valor>
    <valor>28</valor>
    <valor>29</valor>
    <valor>30</valor>
    <valor>31</valor>
    <valor>32</valor>
    <valor>33</valor>
    <valor>34</valor>
    <valor>35</valor>
    <valor>36</valor>
    <valor>37</valor>
    <valor>38</valor>
    <valor>39</valor>
    <valor>40</valor>
    <valor>41</valor>
    <valor>42</valor>
    <valor>43</valor>
    <valor>44</valor>
    <valor>45</valor>
    <valor>46</valor>
    <valor>47</valor>
    <valor>48</valor>
    <valor>49</valor>
    <valor>50</valor>
    <valor>51</valor>
    <valor>52</valor>
    <valor>53</valor>
    <valor>54</valor>
    <valor>55</valor>
    <valor>56</valor>
    <valor>57</valor>
    <valor>58</valor>
    <valor>59</valor>
    <valor>60</valor>
    <valor>61</valor>
    <valor>62</valor>
    <valor>63</valor>
    <valor>64</valor>
    <valor>65</valor>
    <valor>66</valor>
    <valor>67</valor>
    <valor>68</valor>
    <valor>69</valor>
    <valor>70</valor>
  </PackagesConsultTrackOutboundType>
  
</constantes>  
