<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE instances SYSTEM "..\Dtd\instanceAdmin.dtd">


<instances>

	<!--INICIO - Configuracion de Objetos comunes  -->
	<!--<instance name="baseControl" type="Binaria.WMSTek.Framework.Base.BaseControl" assembly="WMSTekFramework" />-->
	<!--FIN - Configuracion de Objetos comunes  -->  
 
	<!--INICIO - Configuracion de Data Access Object (DAO)  -->
  <instance name="simpliRouteVisitConsultDAO" type="Binaria.WMSTek.DataAccess.Utility.SimpliRouteVisitConsultDAO" assembly="DataAccess" />
  <instance name="simpliRouteVisitDAO" type="Binaria.WMSTek.DataAccess.Utility.SimpliRouteVisitDAO" assembly="DataAccess" />
  <instance name="taskQueueDAO" type="Binaria.WMSTek.DataAccess.Utility.TaskQueueDAO" assembly="DataAccess" />
  <instance name="trackTaskQueueDAO" type="Binaria.WMSTek.DataAccess.Utility.TrackTaskQueueDAO" assembly="DataAccess" />
	<instance name="reasonDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ReasonDAO" assembly="DataAccess" />
	<instance name="userDAO" type="Binaria.WMSTek.DataAccess.Profile.UserDAO" assembly="DataAccess" />
	<instance name="roleDAO" type="Binaria.WMSTek.DataAccess.Profile.RoleDAO" assembly="DataAccess" />
	<instance name="permissionDAO" type="Binaria.WMSTek.DataAccess.Profile.PermissionDAO" assembly="DataAccess" />
	<instance name="menuDAO" type="Binaria.WMSTek.DataAccess.Profile.MenuDAO" assembly="DataAccess" />
	<instance name="dictionaryDAO" type="Binaria.WMSTek.DataAccess.I18N.DictionaryDAO" assembly="DataAccess" />
	<instance name="translationDAO" type="Binaria.WMSTek.DataAccess.I18N.TranslationDAO" assembly="DataAccess" />
	<instance name="languageDAO" type="Binaria.WMSTek.DataAccess.I18N.LanguageDAO" assembly="DataAccess" />
	<instance name="receiptDAO" type="Binaria.WMSTek.DataAccess.Reception.ReceiptDAO" assembly="DataAccess" />
	<instance name="inboundOrderDAO" type="Binaria.WMSTek.DataAccess.Reception.InboundOrderDAO" assembly="DataAccess" />
	<instance name="inboundDetailDAO" type="Binaria.WMSTek.DataAccess.Reception.InboundDetailDAO" assembly="DataAccess" />
	<instance name="outboundOrderDAO" type="Binaria.WMSTek.DataAccess.Dispatching.OutboundOrderDAO" assembly="DataAccess" />
	<instance name="outboundDetailDAO" type="Binaria.WMSTek.DataAccess.Dispatching.OutboundDetailDAO" assembly="DataAccess" />
	<instance name="outboundTypeDAO" type="Binaria.WMSTek.DataAccess.Dispatching.OutboundTypeDAO" assembly="DataAccess" />
	<instance name="dispatchDAO" type="Binaria.WMSTek.DataAccess.Dispatching.DispatchDAO" assembly="DataAccess" />
	<instance name="dispatchAdvancedDAO" type="Binaria.WMSTek.DataAccess.Dispatching.DispatchAdvancedDAO" assembly="DataAccess" />
	<instance name="dispatchAdvancedDetailDAO" type="Binaria.WMSTek.DataAccess.Dispatching.DispatchAdvancedDetailDAO" assembly="DataAccess" />
	<instance name="inboundTypeDAO" type="Binaria.WMSTek.DataAccess.Reception.InboundTypeDAO" assembly="DataAccess" />
	<instance name="trackInboundTypeDAO" type="Binaria.WMSTek.DataAccess.Reception.TrackInboundTypeDAO" assembly="DataAccess" />
	<instance name="inboundTrackDAO" type="Binaria.WMSTek.DataAccess.Reception.InboundTrackDAO" assembly="DataAccess" />
	<instance name="outboundTrackDAO" type="Binaria.WMSTek.DataAccess.Dispatching.OutboundTrackDAO" assembly="DataAccess" />
	<instance name="receiptDetailDAO" type="Binaria.WMSTek.DataAccess.Reception.ReceiptDetailDAO" assembly="DataAccess" />
	<instance name="movementWebDAO" type="Binaria.WMSTek.DataAccess.Warehousing.MovementWebDAO" assembly="DataAccess" />
	<instance name="movementDAO" type="Binaria.WMSTek.DataAccess.Warehousing.MovementDAO" assembly="DataAccess" />
	<instance name="vendorDAO" type="Binaria.WMSTek.DataAccess.Warehousing.VendorDAO" assembly="DataAccess" />
	<instance name="ownerDAO" type="Binaria.WMSTek.DataAccess.Warehousing.OwnerDAO" assembly="DataAccess" />
	<instance name="itemDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ItemDAO" assembly="DataAccess" />
  <instance name="itemUomDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ItemUomDAO" assembly="DataAccess" />
  <instance name="grpItem1DAO" type="Binaria.WMSTek.DataAccess.Warehousing.GrpItem1DAO" assembly="DataAccess" />
  <instance name="grpItem2DAO" type="Binaria.WMSTek.DataAccess.Warehousing.GrpItem2DAO" assembly="DataAccess" />
  <instance name="grpItem3DAO" type="Binaria.WMSTek.DataAccess.Warehousing.GrpItem3DAO" assembly="DataAccess" />
  <instance name="grpItem4DAO" type="Binaria.WMSTek.DataAccess.Warehousing.GrpItem4DAO" assembly="DataAccess" />
  <instance name="terminalDAO" type="Binaria.WMSTek.DataAccess.Devices.TerminalDAO" assembly="DataAccess" />		
  <instance name="printerDAO" type="Binaria.WMSTek.DataAccess.Devices.PrinterDAO" assembly="DataAccess" />
	<instance name="printServerDAO" type="Binaria.WMSTek.DataAccess.Devices.PrintServerDAO" assembly="DataAccess" />
	<instance name="displayTypeDAO" type="Binaria.WMSTek.DataAccess.Display.DisplayTypeDAO" assembly="DataAccess" />
	<instance name="companyDAO" type="Binaria.WMSTek.DataAccess.Layout.CompanyDAO" assembly="DataAccess" />
	<instance name="countryDAO" type="Binaria.WMSTek.DataAccess.Layout.CountryDAO" assembly="DataAccess" />
	<instance name="stateDAO" type="Binaria.WMSTek.DataAccess.Layout.StateDAO" assembly="DataAccess" />
	<instance name="cityDAO" type="Binaria.WMSTek.DataAccess.Layout.CityDAO" assembly="DataAccess" />
	<instance name="warehouseDAO" type="Binaria.WMSTek.DataAccess.Layout.WarehouseDAO" assembly="DataAccess" />
	<instance name="workZoneDAO" type="Binaria.WMSTek.DataAccess.Layout.WorkZoneDAO" assembly="DataAccess" />
	<instance name="carrierDAO" type="Binaria.WMSTek.DataAccess.Warehousing.CarrierDAO" assembly="DataAccess" />
  <instance name="categoryItemDAO" type="Binaria.WMSTek.DataAccess.Warehousing.CategoryItemDAO" assembly="DataAccess" />
  <instance name="customerDAO" type="Binaria.WMSTek.DataAccess.Warehousing.CustomerDAO" assembly="DataAccess" />
  <instance name="driverDAO" type="Binaria.WMSTek.DataAccess.Warehousing.DriverDAO" assembly="DataAccess" />
	<instance name="lpnDAO" type="Binaria.WMSTek.DataAccess.Warehousing.LpnDAO" assembly="DataAccess" />
  <instance name="lpnTypeDAO" type="Binaria.WMSTek.DataAccess.Warehousing.LpnTypeDAO" assembly="DataAccess" />
	<instance name="referenceDocTypeDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ReferenceDocTypeDAO" assembly="DataAccess" />
  <instance name="hangarDAO" type="Binaria.WMSTek.DataAccess.Layout.HangarDAO" assembly="DataAccess" />
  <instance name="mapHangarDAO" type="Binaria.WMSTek.DataAccess.Layout.MapHangarDAO" assembly="DataAccess" />
	<instance name="cfgParameterDAO" type="Binaria.WMSTek.DataAccess.Configuration.CfgParameterDAO" assembly="DataAccess" />
  <instance name="parameterHistoryDAO" type="Binaria.WMSTek.DataAccess.Configuration.ParameterHistoryDAO" assembly="DataAccess" />  
 	<instance name="mainFilterDAO" type="Binaria.WMSTek.DataAccess.Base.MainFilterDAO" assembly="DataAccess" />
 	<instance name="stockConsultDAO" type="Binaria.WMSTek.DataAccess.Warehousing.StockConsultDAO" assembly="DataAccess" />
	<instance name="stockDAO" type="Binaria.WMSTek.DataAccess.Warehousing.StockDAO" assembly="DataAccess" />
  <instance name="maxMinDAO" type="Binaria.WMSTek.DataAccess.Warehousing.MaxMinDAO" assembly="DataAccess" />
	<instance name="locationDAO" type="Binaria.WMSTek.DataAccess.Layout.LocationDAO" assembly="DataAccess" />
	<instance name="mapLocationDAO" type="Binaria.WMSTek.DataAccess.Layout.MapLocationDAO" assembly="DataAccess" />
	<instance name="mapColumnDAO" type="Binaria.WMSTek.DataAccess.Layout.MapColumnDAO" assembly="DataAccess" />
	<instance name="mapLayoutDAO" type="Binaria.WMSTek.DataAccess.Layout.MapLayoutDAO" assembly="DataAccess" />
	<instance name="mapColorDAO" type="Binaria.WMSTek.DataAccess.Layout.MapColorDAO" assembly="DataAccess" />
  <instance name="locationTypeDAO" type="Binaria.WMSTek.DataAccess.Layout.LocationTypeDAO" assembly="DataAccess" />
	<instance name="taskConsultDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskConsultDAO" assembly="DataAccess" />
	<instance name="inventoryOrderDAO" type="Binaria.WMSTek.DataAccess.Inventory.InventoryOrderDAO" assembly="DataAccess" />
 	<instance name="inventoryDetailDAO" type="Binaria.WMSTek.DataAccess.Inventory.InventoryDetailDAO" assembly="DataAccess" />
	<instance name="inventoryStockDAO" type="Binaria.WMSTek.DataAccess.Inventory.InventoryStockDAO" assembly="DataAccess" />
	<instance name="taskDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskDAO" assembly="DataAccess" />
	<instance name="taskDetailDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskDetailDAO" assembly="DataAccess" />
  <instance name="taskLabelDAO" type="Binaria.WMSTek.DataAccess.Label.TaskLabelDAO" assembly="DataAccess" />
  <instance name="labelDAO" type="Binaria.WMSTek.DataAccess.Label.LabelDAO" assembly="DataAccess" />
  <instance name="packageDAO" type="Binaria.WMSTek.DataAccess.Dispatching.PackageConsultDAO" assembly="DataAccess" />
	<instance name="ruleDAO" type="Binaria.WMSTek.DataAccess.Rules.RuleDAO" assembly="DataAccess" />
	<instance name="taskSimulationDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskSimulationDAO" assembly="DataAccess" />
	<instance name="taskDetailSimulationDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskDetailSimulationDAO" assembly="DataAccess" />
  <instance name="truckDAO" type="Binaria.WMSTek.DataAccess.Warehousing.TruckDAO" assembly="DataAccess" />
  <instance name="truckTypeDAO" type="Binaria.WMSTek.DataAccess.Warehousing.TruckTypeDAO" assembly="DataAccess" />
  <instance name="moduleDAO" type="Binaria.WMSTek.DataAccess.Profile.ModuleDAO" assembly="DataAccess" />
  <instance name="kitDAO" type="Binaria.WMSTek.DataAccess.Warehousing.KitDAO" assembly="DataAccess" />
  <instance name="labelBulkDAO" type="Binaria.WMSTek.DataAccess.Label.LabelBulkDAO" assembly="DataAccess" />
  <instance name="labelParamDAO" type="Binaria.WMSTek.DataAccess.Label.LabelParamDAO" assembly="DataAccess" />
  <instance name="labelTemplateDAO" type="Binaria.WMSTek.DataAccess.Label.LabelTemplateDAO" assembly="DataAccess" />
	<instance name="movementIfzDAO" type="Binaria.WMSTek.DataAccess.Integration.MovementIfzDAO" assembly="DataAccess" />
	<instance name="requestApiSendIfzDAO" type="Binaria.WMSTek.DataAccess.Integration.RequestApiSendIfzDAO" assembly="DataAccess" />
	<instance name="inventoryLocationDAO" type="Binaria.WMSTek.DataAccess.Inventory.InventoryLocationDAO" assembly="DataAccess" />
  <instance name="movementTypeDAO" type="Binaria.WMSTek.DataAccess.Warehousing.MovementTypeDAO" assembly="DataAccess" />
  <instance name="taskTypeDAO" type="Binaria.WMSTek.DataAccess.Tasks.TaskTypeDAO" assembly="DataAccess" />
  <instance name="locationConsultDAO" type="Binaria.WMSTek.DataAccess.Layout.LocationConsultDAO" assembly="DataAccess" />
  <instance name="trackTaskTypeDAO" type="Binaria.WMSTek.DataAccess.Tasks.TrackTaskTypeDAO" assembly="DataAccess" />
  <instance name="itemLocationDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ItemLocationDAO" assembly="DataAccess" />
  <instance name="trackOutboundTypeDAO" type="Binaria.WMSTek.DataAccess.Dispatching.TrackOutboundTypeDAO" assembly="DataAccess" />
  <instance name="outboundOrderConsultDAO" type="Binaria.WMSTek.DataAccess.Dispatching.OutboundOrderConsultDAO" assembly="DataAccess" />
  <instance name="uomTypeDAO" type="Binaria.WMSTek.DataAccess.Warehousing.UomTypeDAO" assembly="DataAccess" />
  <instance name="productivitySummaryDAO" type="Binaria.WMSTek.DataAccess.Warehousing.ProductivitySummaryDAO" assembly="DataAccess" />
  <instance name="nonWorkingDayDAO" type="Binaria.WMSTek.DataAccess.Warehousing.NonWorkingDayDAO" assembly="DataAccess" />
  <!--FIN - Configuracion de DAOs  -->

	<!--INICIO - Configuracion de Application Domain (APP)  -->
  <instance name="simpliRouteVisitAPP" type="Binaria.WMSTek.AdminApp.Utility.SimpliRouteVisitAPP" assembly="AdminApp">
	  <parameter name="iSimpliRouteVisitConsultDAO" type="Object" value="simpliRouteVisitConsultDAO" />
	  <parameter name="iSimpliRouteVisitDAO" type="Object" value="simpliRouteVisitDAO" />

  </instance>

  <instance name="taskQueueApp" type="Binaria.WMSTek.AdminApp.Utility.TaskQueueApp" assembly="AdminApp">
    <parameter name="iTaskQueueDAO" type="Object" value="taskQueueDAO" />
    <parameter name="iTrackTaskQueueDAO" type="Object" value="trackTaskQueueDAO" />
  </instance>
  
	<instance name="inventoryLocationAPP" type="Binaria.WMSTek.AdminApp.Inventory.InventoryLocationAPP" assembly="AdminApp">
		<parameter name="iInventoryLocationDAO" type="Object" value="inventoryLocationDAO" />
	</instance>

	<instance name="userAPP" type="Binaria.WMSTek.AdminApp.Profile.UserAPP" assembly="AdminApp">
		<parameter name="iUserDAO" type="Object" value="userDAO" />
	</instance>

	<instance name="roleAPP" type="Binaria.WMSTek.AdminApp.Profile.RoleAPP" assembly="AdminApp">
		<parameter name="iRoleDAO" type="Object" value="roleDAO" />
	</instance>

	<instance name="permissionAPP" type="Binaria.WMSTek.AdminApp.Profile.PermissionAPP" assembly="AdminApp">
		<parameter name="iPermissionDAO" type="Object" value="permissionDAO" />
	</instance>

	<instance name="menuAPP" type="Binaria.WMSTek.AdminApp.Profile.MenuAPP" assembly="AdminApp">
		<parameter name="iMenuDAO" type="Object" value="menuDAO" />
	</instance>

	<instance name="dictionaryAPP" type="Binaria.WMSTek.AdminApp.I18N.DictionaryAPP" assembly="AdminApp">
		<parameter name="iDictionaryDAO" type="Object" value="dictionaryDAO" />
	</instance>

	<instance name="translationAPP" type="Binaria.WMSTek.AdminApp.I18N.TranslationAPP" assembly="AdminApp">
		<parameter name="iTranslationDAO" type="Object" value="translationDAO" />
	</instance>

	<instance name="languageAPP" type="Binaria.WMSTek.AdminApp.I18N.LanguageAPP" assembly="AdminApp">
		<parameter name="iLanguageDAO" type="Object" value="languageDAO" />
	</instance>

	<instance name="receiptAPP" type="Binaria.WMSTek.AdminApp.Reception.ReceiptAPP" assembly="AdminApp">
		<parameter name="iReceiptDAO" type="Object" value="receiptDAO" />
	</instance>

	<instance name="receiptDetailAPP" type="Binaria.WMSTek.AdminApp.Reception.ReceiptDetailAPP" assembly="AdminApp">
		<parameter name="iReceiptDetailDAO" type="Object" value="receiptDetailDAO" />
	</instance>

	<instance name="inboundOrderAPP" type="Binaria.WMSTek.AdminApp.Reception.InboundOrderAPP" assembly="AdminApp">
		<parameter name="iInboundOrderDAO" type="Object" value="inboundOrderDAO" />
	</instance>

	<instance name="inboundDetailAPP" type="Binaria.WMSTek.AdminApp.Reception.InboundDetailAPP" assembly="AdminApp">
		<parameter name="iInboundDetailDAO" type="Object" value="inboundDetailDAO" />
	</instance>

	<instance name="outboundOrderAPP" type="Binaria.WMSTek.AdminApp.Dispatching.OutboundOrderAPP" assembly="AdminApp">
		<parameter name="iOutboundOrderDAO" type="Object" value="outboundOrderDAO" />
		<parameter name="iOutboundDetailDAO" type="Object" value="outboundDetailDAO" />
	</instance>

	<instance name="outboundDetailAPP" type="Binaria.WMSTek.AdminApp.Dispatching.OuboundDetailAPP" assembly="AdminApp">
		<parameter name="iOutboundDetailDAO" type="Object" value="outboundDetailDAO" />
	</instance>

	<instance name="outboundTypeAPP" type="Binaria.WMSTek.AdminApp.Dispatching.OutboundTypeAPP" assembly="AdminApp">
		<parameter name="iOutboundTypeDAO" type="Object" value="outboundTypeDAO" />
	</instance>

	<instance name="dispatchAPP" type="Binaria.WMSTek.AdminApp.Dispatching.DispatchAPP" assembly="AdminApp">
		<parameter name="iDispatchDAO" type="Object" value="dispatchDAO" />
	</instance>

  <instance name="dispatchAdvancedAPP" type="Binaria.WMSTek.AdminApp.Dispatching.DispatchAdvancedAPP" assembly="AdminApp">
    <parameter name="iDispatchAdvancedDAO" type="Object" value="dispatchAdvancedDAO" />
  </instance>

  <instance name="dispatchAdvancedDetailAPP" type="Binaria.WMSTek.AdminApp.Dispatching.DispatchAdvancedDetailAPP" assembly="AdminApp">
    <parameter name="iDispatchAdvancedDetailDAO" type="Object" value="dispatchAdvancedDetailDAO" />
  </instance>

	<instance name="movementAPP" type="Binaria.WMSTek.AdminApp.Warehousing.MovementAPP" assembly="AdminApp">
		<parameter name="iMovementWebDAO" type="Object" value="movementWebDAO" />
		<parameter name="iMovementDAO" type="Object" value="movementDAO" />
	</instance>

  <instance name="vendorAPP" type="Binaria.WMSTek.AdminApp.Warehousing.VendorAPP" assembly="AdminApp">
    <parameter name="iVendorDAO" type="Object" value="vendorDAO" />
  </instance>

	<instance name="ownerAPP" type="Binaria.WMSTek.AdminApp.Warehousing.OwnerAPP" assembly="AdminApp">
		<parameter name="iOwnerDAO" type="Object" value="ownerDAO" />
	</instance>

	<instance name="itemAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ItemAPP" assembly="AdminApp">
		<parameter name="iItemDAO" type="Object" value="itemDAO" />
	</instance>

  <instance name="itemUomAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ItemUomAPP" assembly="AdminApp">
    <parameter name="iItemUomDAO" type="Object" value="itemUomDAO" />
  </instance>


  <instance name="grpItem1APP" type="Binaria.WMSTek.AdminApp.Warehousing.GrpItem1APP" assembly="AdminApp">
    <parameter name="iGrpItem1DAO" type="Object" value="grpItem1DAO" />
  </instance>

  <instance name="grpItem2APP" type="Binaria.WMSTek.AdminApp.Warehousing.GrpItem2APP" assembly="AdminApp">
    <parameter name="iGrpItem2DAO" type="Object" value="grpItem2DAO" />
  </instance>

  <instance name="grpItem3APP" type="Binaria.WMSTek.AdminApp.Warehousing.GrpItem3APP" assembly="AdminApp">
    <parameter name="iGrpItem3DAO" type="Object" value="grpItem3DAO" />
  </instance>

  <instance name="grpItem4APP" type="Binaria.WMSTek.AdminApp.Warehousing.GrpItem4APP" assembly="AdminApp">
    <parameter name="iGrpItem4DAO" type="Object" value="grpItem4DAO" />
  </instance>

  <instance name="terminalAPP" type="Binaria.WMSTek.AdminApp.Devices.TerminalAPP" assembly="AdminApp">
		<parameter name="iTerminalDAO" type="Object" value="terminalDAO" />
	</instance>

  <instance name="printerAPP" type="Binaria.WMSTek.AdminApp.Devices.PrinterAPP" assembly="AdminApp">
      <parameter name="iPrinterDAO" type="Object" value="printerDAO" />
	  <parameter name="iPrintServerDAO" type="Object" value="printServerDAO" />
  </instance>  

	<instance name="displayTypeAPP" type="Binaria.WMSTek.AdminApp.Devices.DisplayTypeAPP" assembly="AdminApp">
		<parameter name="iDisplayTypeDAO" type="Object" value="displayTypeDAO" />
	</instance>

	<instance name="companyAPP" type="Binaria.WMSTek.AdminApp.Layout.CompanyAPP" assembly="AdminApp">
		<parameter name="iCompanyDAO" type="Object" value="companyDAO" />
	</instance>

	<instance name="countryAPP" type="Binaria.WMSTek.AdminApp.Layout.CountryAPP" assembly="AdminApp">
		<parameter name="iCountryDAO" type="Object" value="countryDAO" />
	</instance>

	<instance name="stateAPP" type="Binaria.WMSTek.AdminApp.Layout.StateAPP" assembly="AdminApp">
		<parameter name="iStateDAO" type="Object" value="stateDAO" />
	</instance>

	<instance name="cityAPP" type="Binaria.WMSTek.AdminApp.Layout.CityAPP" assembly="AdminApp">
		<parameter name="iCityDAO" type="Object" value="cityDAO" />
	</instance>

	<instance name="warehouseAPP" type="Binaria.WMSTek.AdminApp.Layout.WarehouseAPP" assembly="AdminApp">
		<parameter name="iWarehouseDAO" type="Object" value="warehouseDAO" />
	</instance>

	<instance name="workZoneAPP" type="Binaria.WMSTek.AdminApp.Layout.WorkZoneAPP" assembly="AdminApp">
		<parameter name="iWorkZoneDAO" type="Object" value="workZoneDAO" />
		<parameter name="iLocationDAO" type="Object" value="locationDAO" />
	</instance>

  <instance name="carrierAPP" type="Binaria.WMSTek.AdminApp.Warehousing.CarrierAPP" assembly="AdminApp">
    <parameter name="iCarrierDAO" type="Object" value="carrierDAO" />
  </instance>

  <instance name="categoryItemAPP" type="Binaria.WMSTek.AdminApp.Warehousing.CategoryItemAPP" assembly="AdminApp">
    <parameter name="iCategoryItemDAO" type="Object" value="categoryItemDAO" />
  </instance>

  <instance name="customerAPP" type="Binaria.WMSTek.AdminApp.Warehousing.CustomerAPP" assembly="AdminApp">
    <parameter name="iCustomerDAO" type="Object" value="customerDAO" />
  </instance>

  <instance name="lpnAPP" type="Binaria.WMSTek.AdminApp.Warehousing.LpnAPP" assembly="AdminApp">
    <parameter name="iLpnDAO" type="Object" value="lpnDAO" />
  </instance>

  <instance name="lpnTypeAPP" type="Binaria.WMSTek.AdminApp.Warehousing.LpnTypeAPP" assembly="AdminApp">
    <parameter name="iLpnTypeDAO" type="Object" value="lpnTypeDAO" />
  </instance>

  <instance name="truckAPP" type="Binaria.WMSTek.AdminApp.Warehousing.TruckAPP" assembly="AdminApp">
    <parameter name="iTruckDAO" type="Object" value="truckDAO" />
  </instance>

  <instance name="truckTypeAPP" type="Binaria.WMSTek.AdminApp.Warehousing.TruckTypeAPP" assembly="AdminApp">
    <parameter name="iTruckTypeDAO" type="Object" value="truckTypeDAO" />
  </instance>

  <instance name="movementTypeAPP" type="Binaria.WMSTek.AdminApp.Warehousing.MovementTypeAPP" assembly="AdminApp">
    <parameter name="iMovementTypeDAO" type="Object" value="movementTypeDAO" />
  </instance>

  <instance name="referenceDocTypeAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ReferenceDocTypeAPP" assembly="AdminApp">
    <parameter name="iReferenceDocTypeDAO" type="Object" value="referenceDocTypeDAO" />
  </instance>

  <instance name="hangarAPP" type="Binaria.WMSTek.AdminApp.Layout.HangarAPP" assembly="AdminApp">
		<parameter name="iHangarDAO" type="Object" value="hangarDAO" />
		<parameter name="iMapHangarDAO" type="Object" value="mapHangarDAO" />
  </instance>

	<instance name="cfgParameterAPP" type="Binaria.WMSTek.AdminApp.Configuration.CfgParameterAPP" assembly="AdminApp">
		<parameter name="iCfgParameterDAO" type="Object" value="cfgParameterDAO" />
    <parameter name="iParameterHistoryDAO" type="Object" value="parameterHistoryDAO" />
	</instance>

  <instance name="parameterHistoryAPP" type="Binaria.WMSTek.AdminApp.Configuration.ParameterHistoryAPP" assembly="AdminApp">
    <parameter name="iParameterHistoryDAO" type="Object" value="parameterHistoryDAO" />
    
  </instance>

  <instance name="inboundTypeAPP" type="Binaria.WMSTek.AdminApp.Reception.InboundTypeAPP" assembly="AdminApp">
		<parameter name="iInboundTypeDAO" type="Object" value="inboundTypeDAO" />
	</instance>

	<instance name="trackInboundTypeAPP" type="Binaria.WMSTek.AdminApp.Reception.TrackInboundTypeAPP" assembly="AdminApp">
		<parameter name="iTrackInboundTypeDAO" type="Object" value="trackInboundTypeDAO" />
	</instance>

	<instance name="inboundTrackAPP" type="Binaria.WMSTek.AdminApp.Reception.InboundTrackAPP" assembly="AdminApp">
		<parameter name="iInboundTrackDAO" type="Object" value="inboundTrackDAO" />
	</instance>

	<instance name="outboundTrackAPP" type="Binaria.WMSTek.AdminApp.Dispatching.OutboundTrackAPP" assembly="AdminApp">
		<parameter name="iOutboundTrackDAO" type="Object" value="outboundTrackDAO" />
	</instance>

	<instance name="mainFilterAPP" type="Binaria.WMSTek.AdminApp.Profile.MainFilterAPP" assembly="AdminApp">
		<parameter name="iMainFilterDAO" type="Object" value="mainFilterDAO" />
	</instance>

	<instance name="stockAPP" type="Binaria.WMSTek.AdminApp.Warehousing.StockAPP" assembly="AdminApp">
		<parameter name="iStockConsultDAO" type="Object" value="stockConsultDAO" />
		<parameter name="iStockDAO" type="Object" value="stockDAO" />
		<parameter name="iMaxMinDAO" type="Object" value="maxMinDAO" />
	</instance>

	<instance name="locationAPP" type="Binaria.WMSTek.AdminApp.Layout.LocationAPP" assembly="AdminApp">
		<parameter name="iLocationDAO" type="Object" value="locationDAO" />
    <parameter name="iLocationConsultDAO" type="Object" value="locationConsultDAO" />
    <parameter name="iMovementDAO" type="Object" value="movementDAO" />
  </instance>

	<instance name="mapLocationAPP" type="Binaria.WMSTek.AdminApp.Layout.MapLocationAPP" assembly="AdminApp">
		<parameter name="iMapLocationDAO" type="Object" value="mapLocationDAO" />
		<parameter name="iMapColumnDAO" type="Object" value="mapColumnDAO" />
		<parameter name="iMapLayoutDAO" type="Object" value="mapLayoutDAO" />
		<parameter name="iMapColorDAO" type="Object" value="mapColorDAO" />
	</instance>
	
	  <instance name="locationTypeAPP" type="Binaria.WMSTek.AdminApp.Layout.LocationTypeAPP" assembly="AdminApp">
		<parameter name="iLocationTypeDAO" type="Object" value="locationTypeDAO" />
	  </instance>  

	<instance name="taskConsultAPP" type="Binaria.WMSTek.AdminApp.Tasks.TaskConsultAPP" assembly="AdminApp">
		<parameter name="iTaskConsultDAO" type="Object" value="taskConsultDAO" />
    <parameter name="iTaskTypeDAO" type="Object" value="taskTypeDAO" />
	</instance>

	<instance name="inventoryAPP" type="Binaria.WMSTek.AdminApp.Inventory.InventoryAPP" assembly="AdminApp">
		<parameter name="iInventoryOrderDAO" type="Object" value="inventoryOrderDAO" />
		<parameter name="iInventoryStockDAO" type="Object" value="inventoryStockDAO" />
	</instance>
  
	<instance name="inventoryDetailAPP" type="Binaria.WMSTek.AdminApp.Inventory.InventoryDetailAPP" assembly="AdminApp">
		<parameter name="iInventoryDetailDAO" type="Object" value="inventoryDetailDAO" />
	</instance>

	<instance name="taskAPP" type="Binaria.WMSTek.AdminApp.Tasks.TaskAPP" assembly="AdminApp">
		<parameter name="iTaskDAO" type="Object" value="taskDAO" />
		<parameter name="iTaskDetailDAO" type="Object" value="taskDetailDAO" />
		</instance>

  <instance name="taskLabelAPP" type="Binaria.WMSTek.AdminApp.Label.TaskLabelAPP" assembly="AdminApp">
    <parameter name="iTaskLabelDAO" type="Object" value="taskLabelDAO" />
  </instance>

  <instance name="nonWorkingDayAPP" type="Binaria.WMSTek.AdminApp.Warehousing.NonWorkingDayAPP" assembly="AdminApp">
    <parameter name="iNonWorkingDayDAO" type="Object" value="nonWorkingDayDAO" />
  </instance>

  <instance name="packageAPP" type="Binaria.WMSTek.AdminApp.Dispatching.PackageAPP" assembly="AdminApp">
		<parameter name="iPackageDAO" type="Object" value="packageDAO" />
		<parameter name="iStockDAO" type="Object" value="stockDAO" />
		<parameter name="iPackageDetailDAO" type="Object" value="packageDetailDAO" />
	</instance>
  
  <instance name="kitAPP" type="Binaria.WMSTek.AdminApp.Warehousing.KitAPP" assembly="AdminApp">
    <parameter name="iKitDAO" type="Object" value="kitDAO" />
  </instance>  
								   
	<instance name="ruleAPP" type="Binaria.WMSTek.AdminApp.Rules.RuleAPP" assembly="AdminApp">
		<parameter name="iRuleDAO" type="Object" value="ruleDAO" /> 
	</instance>

  <instance name="driverAPP" type="Binaria.WMSTek.AdminApp.Warehousing.DriverAPP" assembly="AdminApp">
    <parameter name="iDriverDAO" type="Object" value="driverDAO" />
  </instance>

  <instance name="reasonAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ReasonAPP" assembly="AdminApp">
    <parameter name="iReasonDAO" type="Object" value="reasonDAO" />
  </instance>

	<instance name="taskSimulationAPP" type="Binaria.WMSTek.AdminApp.Tasks.TaskSimulationAPP" assembly="AdminApp">
		<parameter name="iTaskSimulationDAO" type="Object" value="taskSimulationDAO" />
		<parameter name="iTaskDetailSimulationDAO" type="Object" value="taskDetailSimulationDAO" />
	</instance>

  <instance name="moduleAPP" type="Binaria.WMSTek.AdminApp.Profile.ModuleAPP" assembly="AdminApp">
    <parameter name="iModuleDAO" type="Object" value="moduleDAO" />
  </instance>

  <instance name="labelAPP" type="Binaria.WMSTek.AdminApp.Label.LabelAPP" assembly="AdminApp">
        <parameter name="iLabelBulkDAO" type="Object" value="labelBulkDAO" />
        <parameter name="iLabelParamDAO" type="Object" value="labelParamDAO" />
        <parameter name="iLabelTemplateDAO" type="Object" value="labelTemplateDAO" />
    </instance>

  <instance name="movementIfzAPP" type="Binaria.WMSTek.AdminApp.Integration.MovementIfzAPP" assembly="AdminApp">
    <parameter name="iMovementIfzDAO" type="Object" value="movementIfzDAO" />
  </instance>

	<instance name="requestApiSendAPP" type="Binaria.WMSTek.AdminApp.Integration.RequestApiSendAPP" assembly="AdminApp">
		<parameter name="iRequestApiSendIfzDAO" type="Object" value="requestApiSendIfzDAO" />
	</instance>

	<instance name="validationAPP" type="Binaria.WMSTek.AdminApp.Validation.ValidationAPP" assembly="AdminApp">
		<parameter name="iOwnerDAO" type="Object" value="ownerDAO" />
		<parameter name="iWarehouseDAO" type="Object" value="warehouseDAO" />
		<parameter name="iVendorDAO" type="Object" value="vendorDAO" />
		<parameter name="iInboundOrderDAO" type="Object" value="inboundOrderDAO" />
		<parameter name="iOutboundOrderDAO" type="Object" value="outboundOrderDAO" />
		<parameter name="iInboundTypeDAO" type="Object" value="inboundTypeDAO" />
		<parameter name="iOutboundTypeDAO" type="Object" value="outboundTypeDAO" />
		<parameter name="iItemDAO" type="Object" value="itemDAO" />
		<parameter name="iItemUomDAO" type="Object" value="itemUomDAO" />
		<parameter name="iCategoryItemDAO" type="Object" value="categoryItemDAO" />
		<parameter name="iGrpItem1DAO" type="Object" value="grpItem1DAO" />
		<parameter name="iGrpItem2DAO" type="Object" value="grpItem2DAO" />
		<parameter name="iGrpItem3DAO" type="Object" value="grpItem3DAO" />
		<parameter name="iGrpItem4DAO" type="Object" value="grpItem4DAO" />
		<parameter name="iCarrierDAO" type="Object" value="carrierDAO" />
		<parameter name="iCustomerDAO" type="Object" value="customerDAO" />
		<parameter name="iDriverDAO" type="Object" value="driverDAO" />
		<parameter name="iTruckDAO" type="Object" value="truckDAO" />
		<parameter name="iTerminalDAO" type="Object" value="terminalDAO" />
		<parameter name="iWorkZoneDAO" type="Object" value="workZoneDAO" />
		<parameter name="iPrinterDAO" type="Object" value="printerDAO" />
		<parameter name="iHangarDAO" type="Object" value="hangarDAO" />
		<parameter name="iLocationDAO" type="Object" value="locationDAO" />
		<parameter name="iLpnDAO" type="Object" value="lpnDAO" />
		<parameter name="iLpnTypeDAO" type="Object" value="lpnTypeDAO" />
		<parameter name="iUserDAO" type="Object" value="userDAO" />
		<parameter name="iReasonDAO" type="Object" value="reasonDAO" />
		<parameter name="iReferenceDocTypeDAO" type="Object" value="referenceDocTypeDAO" />
		<parameter name="iTruckTypeDAO" type="Object" value="truckTypeDAO" />
    <parameter name="iInventoryOrderDAO" type="Object" value="inventoryOrderDAO" />
    <parameter name="iUomTypeDAO" type="Object" value="uomTypeDAO" />
	</instance>

  <instance name="trackTaskTypeAPP" type="Binaria.WMSTek.AdminApp.Tasks.TrackTaskTypeAPP" assembly="AdminApp">
    <parameter name="iTrackTaskTypeDAO" type="Object" value="trackTaskTypeDAO" />
  </instance>

  <instance name="itemLocationAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ItemLocationAPP" assembly="AdminApp">
    <parameter name="iItemLocationDAO" type="Object" value="itemLocationDAO" />
    <parameter name="iItemDAO" type="Object" value="itemDAO" />
    <parameter name="iLocationDAO" type="Object" value="locationDAO" />
  </instance>

  <instance name="trackOutboundTypeAPP" type="Binaria.WMSTek.AdminApp.Dispatching.TrackOutboundTypeAPP" assembly="AdminApp">
    <parameter name="iTrackOutboundTypeDAO" type="Object" value="trackOutboundTypeDAO" />
  </instance>

  <instance name="outboundOrderConsultAPP" type="Binaria.WMSTek.AdminApp.Dispatching.OutboundOrderConsultAPP" assembly="AdminApp">
    <parameter name="iOutboundOrderConsultDAO" type="Object" value="outboundOrderConsultDAO" />
  </instance>

  <instance name="uomTypeAPP" type="Binaria.WMSTek.AdminApp.Warehousing.UomTypeAPP" assembly="AdminApp">
    <parameter name="iUomTypeDAO" type="Object" value="uomTypeDAO" />
  </instance>

  <instance name="productivitySummaryAPP" type="Binaria.WMSTek.AdminApp.Warehousing.ProductivitySummaryAPP" assembly="AdminApp">
    <parameter name="iProductivitySummaryDAO" type="Object" value="productivitySummaryDAO" />
  </instance>

  <instance name="recipeVasAPP" type="Binaria.WMSTek.AdminApp.Warehousing.RecipeVasAPP" assembly="AdminApp">
    <parameter name="iVasDAO" type="Object" value="VasDAO" />
  </instance>
  <!--FIN - Configuracion de Application Domain (APP)  -->

	  
	<!--INICIO - Configuracion de Manager (MGR)  -->
	<instance name="profileMGR" type="Binaria.WMSTek.AdminApp.Manager.ProfileMGR" assembly="AdminApp">
		<parameter name="iUserAPP" type="Object" value="userAPP" />
		<parameter name="iRoleAPP" type="Object" value="roleAPP" />
		<parameter name="iOwnerAPP" type="Object" value="ownerAPP" />
		<parameter name="iWorkZoneAPP" type="Object" value="workZoneAPP" />
		<parameter name="iPrinterAPP" type="Object" value="printerAPP" />
		<parameter name="iWarehouseAPP" type="Object" value="warehouseAPP" />
		<parameter name="iMenuAPP" type="Object" value="menuAPP" />
		<parameter name="iPermissionAPP" type="Object" value="permissionAPP" />
		<parameter name="iMainFilterAPP" type="Object" value="mainFilterAPP" />
		<parameter name="iCfgParameterAPP" type="Object" value="cfgParameterAPP" />
		<parameter name="iCompanyAPP" type="Object" value="companyAPP" />
		<parameter name="iModuleAPP" type="Object" value="moduleAPP" />
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
    <parameter name="iVendorAPP" type="Object" value="vendorAPP" />
	</instance>

	<instance name="languageMGR" type="Binaria.WMSTek.AdminApp.Manager.LanguageMGR" assembly="AdminApp">
		<parameter name="iDictionaryAPP" type="Object" value="dictionaryAPP" />
		<parameter name="iTranslationAPP" type="Object" value="translationAPP" />  
		<parameter name="iLanguageAPP" type="Object" value="languageAPP" />
	</instance>

	<instance name="receptionMGR" type="Binaria.WMSTek.AdminApp.Manager.ReceptionMGR" assembly="AdminApp">
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
		<parameter name="iMovementAPP" type="Object" value="movementAPP" />
		<parameter name="iReceiptAPP" type="Object" value="receiptAPP" />
		<parameter name="iReceiptDetailAPP" type="Object" value="receiptDetailAPP" />
		<parameter name="iInboundOrderAPP" type="Object" value="inboundOrderAPP" />
		<parameter name="iInboundDetailAPP" type="Object" value="inboundDetailAPP" />
		<parameter name="iInboundTypeAPP" type="Object" value="inboundTypeAPP" />
		<parameter name="iInboundTrackAPP" type="Object" value="inboundTrackAPP" />
		<parameter name="iTrackInboundTypeAPP" type="Object" value="trackInboundTypeAPP" />

  </instance>

	<instance name="dispatchingMGR" type="Binaria.WMSTek.AdminApp.Manager.DispatchingMGR" assembly="AdminApp">
    <parameter name="iSimpliRouteVisitAPP" type="Object" value="simpliRouteVisitAPP" />
    <parameter name="iTaskQueueApp" type="Object" value="taskQueueApp" />
		<parameter name="iOutboundOrderAPP" type="Object" value="outboundOrderAPP" />
		<parameter name="iOutboundDetailAPP" type="Object" value="outboundDetailAPP" />
		<parameter name="iOutboundTypeAPP" type="Object" value="outboundTypeAPP" />
		<parameter name="iDispatchAPP" type="Object" value="dispatchAPP" />
		<parameter name="iOutboundTrackAPP" type="Object" value="outboundTrackAPP" />
		<parameter name="iDispatchAdvancedAPP" type="Object" value="dispatchAdvancedAPP" />
		<parameter name="iDispatchAdvancedDetailAPP" type="Object" value="dispatchAdvancedDetailAPP" />
		<parameter name="iMovementAPP" type="Object" value="movementAPP" />
		<parameter name="iStockAPP" type="Object" value="stockAPP" />
		<parameter name="iRuleAPP" type="Object" value="ruleAPP" />
		<parameter name="iTaskSimulationAPP" type="Object" value="taskSimulationAPP" />
		<parameter name="iTaskAPP" type="Object" value="taskAPP" />
		<parameter name="iPackageAPP" type="Object" value="packageAPP" />
		<parameter name="iWorkZoneAPP" type="Object" value="workZoneAPP" />
		<parameter name="iLocationAPP" type="Object" value="locationAPP" />
		<parameter name="iInboundOrderAPP" type="Object" value="inboundOrderAPP" />
		<parameter name="iInboundDetailAPP" type="Object" value="inboundDetailAPP" />
		<parameter name="iInboundTrackAPP" type="Object" value="inboundTrackAPP" />
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
		<parameter name="iKitAPP" type="Object" value="kitAPP" />
    <parameter name="iTrackOutboundTypeAPP" type="Object" value="trackOutboundTypeAPP" />
    <parameter name="iOutboundOrderConsultAPP" type="Object" value="outboundOrderConsultAPP" />
    <parameter name="iRecipeVasAPP" type="Object" value="recipeVasAPP" />
	</instance>

	<instance name="warehousingMGR" type="Binaria.WMSTek.AdminApp.Manager.WarehousingMGR" assembly="AdminApp">
		<parameter name="iVendorAPP" type="Object" value="vendorAPP" />
		<parameter name="iReasonAPP" type="Object" value="reasonAPP" />
		<parameter name="iOwnerAPP" type="Object" value="ownerAPP" />
		<parameter name="iItemAPP" type="Object" value="itemAPP" />
		<parameter name="iItemUomAPP" type="Object" value="itemUomAPP" />
		<parameter name="iStockAPP" type="Object" value="stockAPP" />
		<parameter name="iGrpItem1APP" type="Object" value="grpItem1APP" />
		<parameter name="iGrpItem2APP" type="Object" value="grpItem2APP" />
		<parameter name="iGrpItem3APP" type="Object" value="grpItem3APP" />
		<parameter name="iGrpItem4APP" type="Object" value="grpItem4APP" />
		<parameter name="iWorkZoneAPP" type="Object" value="workZoneAPP" />
		<parameter name="iCarrierAPP" type="Object" value="carrierAPP" />
		<parameter name="iCategoryItemAPP" type="Object" value="categoryItemAPP" />
		<parameter name="iCustomerAPP" type="Object" value="customerAPP" />
		<parameter name="iDriverAPP" type="Object" value="driverAPP" />
		<parameter name="iLpnAPP" type="Object" value="lpnAPP" />
		<parameter name="iLpnTypeAPP" type="Object" value="lpnTypeAPP" />
		<parameter name="iTruckAPP" type="Object" value="truckAPP" />
		<parameter name="iTruckTypeAPP" type="Object" value="truckTypeAPP" />
		<parameter name="iKitAPP" type="Object" value="kitAPP" />
		<parameter name="iReferenceDocTypeAPP" type="Object" value="referenceDocTypeAPP" />
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
		<parameter name="iMovementAPP" type="Object" value="movementAPP" />
    <parameter name="iMovementTypeAPP" type="Object" value="movementTypeAPP" />
    <parameter name="iItemLocationAPP" type="Object" value="itemLocationAPP" />
    <parameter name="iUomTypeAPP" type="Object" value="uomTypeAPP" />
    <parameter name="iProductivitySummaryAPP" type="Object" value="productivitySummaryAPP" />
    <parameter name="iNonWorkingDayAPP" type="Object" value="nonWorkingDayAPP" />
  </instance>

  <instance name="deviceMGR" type="Binaria.WMSTek.AdminApp.Manager.DeviceMGR" assembly="AdminApp">
		<parameter name="iPrinterAPP" type="Object" value="printerAPP" />
		<parameter name="iTerminalAPP" type="Object" value="terminalAPP" />
		<parameter name="iDisplayTypeAPP" type="Object" value="displayTypeAPP" />
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
  </instance>

  <instance name="labelMGR" type="Binaria.WMSTek.AdminApp.Manager.LabelMGR" assembly="AdminApp">
      <parameter name="iLabelAPP" type="Object" value="labelAPP" />
	  <parameter name="iTaskLabelAPP" type="Object" value="taskLabelAPP" />
	  <parameter name="iCompanyAPP" type="Object" value="companyAPP" />
	  <parameter name="iMovementAPP" type="Object" value="movementAPP" />
  </instance>

  <instance name="layoutMGR" type="Binaria.WMSTek.AdminApp.Manager.LayoutMGR" assembly="AdminApp">
		<parameter name="iCompanyAPP" type="Object" value="companyAPP" />
		<parameter name="iCountryAPP" type="Object" value="countryAPP" />
		<parameter name="iStateAPP" type="Object" value="stateAPP" />
		<parameter name="iCityAPP" type="Object" value="cityAPP" />
		<parameter name="iWarehouseAPP" type="Object" value="warehouseAPP" />
		<parameter name="iWorkZoneAPP" type="Object" value="workZoneAPP" />
		<parameter name="iHangarAPP" type="Object" value="hangarAPP" />
		<parameter name="iLocationAPP" type="Object" value="locationAPP" />
		<parameter name="iMapLocationAPP" type="Object" value="mapLocationAPP" />
		<parameter name="iLocationTypeAPP" type="Object" value="locationTypeAPP" />
	  <parameter name="iValidationAPP" type="Object" value="validationAPP" />
		<parameter name="iInventoryLocationAPP" type="Object" value="inventoryLocationAPP" />
  </instance>

	<instance name="inventoryMGR" type="Binaria.WMSTek.AdminApp.Manager.InventoryMGR" assembly="AdminApp">
		<parameter name="iInventoryAPP" type="Object" value="inventoryAPP" />
		<parameter name="iInventoryDetailAPP" type="Object" value="inventoryDetailAPP" />
		<parameter name="iStockAPP" type="Object" value="stockAPP" />
		<parameter name="iMovementAPP" type="Object" value="movementAPP" />
		<parameter name="iValidationAPP" type="Object" value="validationAPP" />
		<parameter name="iInventoryLocationAPP" type="Object" value="inventoryLocationAPP" />
	</instance>

	<instance name="tasksMGR" type="Binaria.WMSTek.AdminApp.Manager.TasksMGR" assembly="AdminApp">
		<parameter name="iTaskConsultAPP" type="Object" value="taskConsultAPP" />
    <parameter name="iStockAPP" type="Object" value="stockAPP" />
    <parameter name="iTaskAPP" type="Object" value="taskAPP" />
    <parameter name="iReasonAPP" type="Object" value="reasonAPP" />
    <parameter name="iTrackTaskTypeAPP" type="Object" value="trackTaskTypeAPP" />
    <parameter name="iValidationAPP" type="Object" value="validationAPP" />
    <parameter name="iRuleAPP" type="Object" value="ruleAPP" />
    <parameter name="iCategoryItemAPP" type="Object" value="categoryItemAPP" />
  </instance>

  <instance name="configurationMGR" type="Binaria.WMSTek.AdminApp.Manager.ConfigurationMGR" assembly="AdminApp">
    <parameter name="iCfgParameterAPP" type="Object" value="cfgParameterAPP" />
    <parameter name="iParameterHistoryAPP" type="Object" value="parameterHistoryAPP" />
  </instance>

  <instance name="integrationMGR" type="Binaria.WMSTek.AdminApp.Manager.IntegrationMGR" assembly="AdminApp">
	  <parameter name="iMovementIfzAPP" type="Object" value="movementIfzAPP" />
	  <parameter name="iRequestApiSendAPP" type="Object" value="requestApiSendAPP" />
  </instance>
  
  <!--FIN - Configuracion de Manager (MGR)  -->
 
</instances>
