<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE messages SYSTEM "..\Dtd\messageStatusAdmin.dtd">

<messages>
	<!-- GENERIC SECTION -->
  <message>
    <code>Generic.Ready</code>
    <description language="es">
      <detail>Listo.</detail>
    </description>
    <description language="us">
      <detail>Ready.</detail>
    </description>
  </message>

  <message>
    <code>Generic.Create</code>
    <description language="es">
      <detail>Elemento creado exitosamente.</detail>
    </description>
    <description language="us">
      <detail>Object successfully created.</detail>
    </description>
  </message>

  <message>
    <code>Generic.Update</code>
    <description language="es">
      <detail>Elemento modificado exitosamente.</detail>
    </description>
    <description language="us">
      <detail>Object successfully updated.</detail>
    </description>
  </message>

  <message>
    <code>Generic.Delete</code>
    <description language="es">
      <detail>Elemento eliminado exitosamente.</detail>
    </description>
    <description language="us">
      <detail>Object successfully deleted.</detail>
    </description>
  </message>

	<message>
		<code>Generic.ReadyButWithErrors</code>
		<description language="es">
			<detail>Listo, Pero con errores</detail>
		</description>
		<description language="us">
			<detail>Ready, but with errors</detail>
		</description>
	</message>

	<message>
		<code>Generic.Search</code>
		<description language="es">
			<detail>Ingrese criterio de búsqueda y haga click en "Buscar"</detail>
		</description>
		<description language="us">
			<detail>Input search criteria and click "Search"</detail>
		</description>
	</message>
	<!-- END GENERIC SECTION -->

	<!-- DISPATCH SECTION -->
	<message>
		<code>Dispatch.ReleaseOk</code>
		<description language="es">
			<detail>La Liberación de Pedidos fue exitosa.</detail>
		</description>
		<description language="us">
			<detail>Order Dispatching ok.</detail>
		</description>
	</message>

	<message>
		<code>Dispatch.ReleaseFailed</code>
		<description language="es">
			<detail>La Liberación de Pedidos no pudo realizarse.</detail>
		</description>
		<description language="us">
			<detail>Order Dispatching Failed.</detail>
		</description>
	</message>
	<!-- END DISPATCH SECTION -->

	<!-- LABEL PRINT SECTION -->
	<message>
	    <code>PrintLabel.PrintOk</code>
		<description language="es">
		  <detail>Se han enviado a imprimir @qtyPrint etiquetas.</detail>
		</description>
		<description language="us">
		  <detail>@qtyPrint labels sent to printer.</detail>
		</description>
  </message>
	<!-- END LABEL PRINT SECTION -->
</messages>

