<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="General">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=" postHandlingAction="NotifyRethrow" name="Exception"/>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>

  <csrfSettings cookieName="__CSRFCOOKIE" formFieldName="_CSRFTOKEN" detectionResult="RaiseException" errorPage="~/Shared/GenericError.aspx"/>
  
	<system.web>
    <httpRuntime maxRequestLength="51200" />
    
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal"/>
		</securityPolicy>
		<trust level="Full" originUrl="" processRequestInApplicationTrust="true"/>
    
    <!--Variable Para el Termio de la Sesion-->
    <sessionState mode="InProc" timeout="1000"></sessionState>
		
		<!--la propiedad requestEncoding="UTF-8" : fue Agregado el 05-10-10 para probar problemas de acentos -->
		<!--<globalization uiCulture="es" culture="es-ES" requestEncoding="UTF-8" fileEncoding="utf-8" responseEncoding="utf-8" />-->
		<!--la propiedad requestEncoding="ISO-8859-1" : fue Modificado el 25-08-21 para resolver problemas de acentos y caracteres especiales -->
		<globalization uiCulture="es" culture="es-ES" requestEncoding="ISO-8859-1" fileEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" />
		<!--requestEncoding="UTF-8" :FIN-->
		
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			
				<add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<pages theme="WMSTekDefault" enableEventValidation="false" enableSessionState="true">
			<namespaces>
				<clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
			<controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="webUc" assembly="Flan.Controls" namespace="Flan.Controls"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="obout" namespace="Obout.Grid" assembly="obout_Grid_NET"/>
        <add tagPrefix="obout" namespace="Obout.Interface" assembly="obout_Interface"/>
			</controls>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--<customErrors mode="Off" defaultRedirect="~/Shared/GenericError.htm"/>-->
			
    <customErrors mode="On" redirectMode="ResponseRedirect" defaultRedirect="~/Shared/Error.aspx">
        <error statusCode="404" redirect="~/Shared/NotFound.aspx" />
    </customErrors>
    
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      validate="false" />
    </httpHandlers>
		<httpModules>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>

    <!--<browserCaps>
      <case match="Chrome/(?'version'(?'major'\d+)(?'minor'\.\d+)\.\d+.\d+)\sSafari/\d+\.\d+">browser=Chrome version=${version} majorversion=${major} minorversion=${minor}</case>
    </browserCaps>-->
  </system.web>
	
  <system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
     <validation validateIntegratedModeConfiguration="false" />
     <modules>
         <remove name="ScriptModule" />
         <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>
     </modules>
     <handlers>
         <remove name="WebServiceHandlerFactory-Integrated" />
         <remove name="ScriptHandlerFactory" />
         <remove name="ScriptHandlerFactoryAppServices" />
         <remove name="ScriptResource" />
         <remove name="ChartImageHandler" />
         <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd"
             preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD"
             path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD"
             path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
     </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
         <!--<hiddenSegments>
          <add segment="bin"/>
         </hiddenSegments>-->
      </requestFiltering>
    </security>
 </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
     <add key="sourceProject" value="WEB" />
     <add key="poolPath" value="WebResources\Config\db" />
     <add key="errorPath" value="WebResources\Config\errorAdmin.config" />
     <add key="messageStatusPath" value="WebResources\Config\messageStatusAdmin.config" />
     <add key="instancePath" value="WebResources\Config\instanceAdmin.config" />
     <add key="logPath" value="Log\WMSTek3Web" />
     <add key="logType" value="1" />
     <add key="logLevel" value="20" />
     <add key="languageCode" value="es" />
     <add key="remotingFile" value="tcp://127.0.0.1:10002/RemotingManager" />
     <add key="defaultMessageStatus" value="Listo" />
     <add key="defaultMessageStatusEn" value="Ready" />
     <add key="defaultMessageStatusPor" value="Pronto" />
     <add key="defaultErrorSeverity" value="Advertencia." />
     <add key="defaultErrorSeverityEn" value="Warning." />
     <add key="defaultErrorSeverityPor" value="Aviso." />
     <add key="defaultErrorTitle" value="Se ha producido un error." />
     <add key="defaultErrorTitleEn" value="There was an error." />
     <add key="defaultErrorTitlePor" value="Ocorreu um erro." />
     <add key="defaultErrorMessage" value="El sistema detectó una excepción no identificada." />
     <add key="defaultErrorMessageEs" value="El sistema detectó una excepción no identificada." />
     <add key="defaultErrorMessageEn" value="The system detected an unidentified exception." />
     <add key="defaultErrorMessagePor" value="O sistema detectou uma exceção não identificada." />
     <add key="defaultErrorSolutions" value="Vuelva a intentar la operación.     |Si el problema persiste, póngase en contacto con el Administrador." />
     <add key="defaultErrorSolutionsEn" value="Retry the operation. | If the problem persists, please contact the Administrator." />
     <add key="defaultErrorSolutionsPor" value="Repetir a operação. | Se o problema persistir, entre em contato com o Administrador." />
     <add key="LabelItemPath" value="WebResources\XmlLabelTemplate\item.xml" />
     <add key="LabelBulkPath" value="WebResources\XmlLabelTemplate\bulto.xml" />
     <add key="LabelLpnPath" value="WebResources\XmlLabelTemplate\lpn.xml" />
     <add key="LabelLocationPath" value="WebResources\XmlLabelTemplate\ubicacion.xml" />
     <add key="reportingServiceAddress" value="http://alopez-nb/Reportserver" />
     <add key="ReportStockByItemPath" value="/WMSTekReports/rptStockByItem" />
     <add key="ReportStockByLocPath" value="/WMSTekReports/rptStockByLocation" />
     <add key="ReportStockConsolidateItem" value="/WMSTekReports/rptStockConsolidateItem" />
     <add key="ReportTotalReceiptPath" value="/WMSTekReports/rptTotalReceipt" />
     <add key="ReportReceiptPath" value="/WMSTekReports/rptReceipt" />
     <add key="ReportDispatchPath" value="/WMSTekReports/rptDispatch" />
     <add key="ReportConsolidateTruckPath" value="/WMSTekReports/rptConsolidatedTruck" />
     <add key="ReportHistoricItemsReceiptPath" value="/WMSTekReports/rptHistoricoProductosRecepcionados" />
     <add key="ReportHistoricItemsRepositPath" value="/WMSTekReports/rptHistoricoProductosReposicionados" />
     <add key="ReportHistoricItemsPickeadosPath" value="/WMSTekReports/rptHistoricoProductosPickeados" />
     <add key="ReportHistoricItemsPackedPath" value="/WMSTekReports/rptHistoricoProductosEmbalados" />
     <add key="ReportHistoricItemsCyclicCountPath" value="/WMSTekReports/rptHistoricoProductosConteoCiclico" />
     <add key="ReportHistoricItemsDicpatchPath" value="/WMSTekReports/rptHistoricoProductosDespachados" />
     <add key="ReportHistoricItemsStoredPath" value="/WMSTekReports/rptHistoricoProductosAlmacenados" />
     <add key="ReportKardexPath" value="/WMSTekReports/rptKardex" />
     <add key="ReportABCDItemsPath" value="/WMSTekReports/rptABCDItems" />
     <add key="ReportTraceabilityGS1Path" value="/WMSTekReports/rptTraceabilityGS1" />
     <add key="ReportStateStockConsult" value="/WMSTekReports/rptStateStockConsult" />
     <add key="RSStringConectionLinkedServerBD" value="." />
     <add key="constPath" value="WebResources\Config\constantes.config" />
     <add key="B2BTemplateAsnPath" value="WebResources\B2BTemplateASN\"/>
     <add key="B2BTemplateLabelPricePath" value="WebResources\B2BTemplateLabel\"/>
     <add key="ReportStateStockConsult" value="/WMSTekReports/rptStateStockConsult"/>
     <add key="UpLoadItemFilePath" value="WebResources\Temp\"/>
     <!--<add key="XSDPath" value="D:\WMSTEK30\WMSTekAdmin\IntegrationClient\XSD\" />-->
     <add key="XSDPath" value="C:\Proyectos\WMSTEK3\WMSTekAdmin\IntegrationClient\XSD\" />
     <add key="ChartImageHandler" value="storage=file;timeout=20;" />
     <add key="formatUOM" value="Int" />
     <add key="FormatDateConsultQuerys" value="yyyy/MM/dd" />
     <add key="FormatDateTimeConsultQuerys" value="yyyy/MM/dd HH:mm:ss" />
     <add key="currentDirectory" value="C:\Proyectos\WMSTek3\Clientes\BASE\Configuracion\WMSTekAdmin\" />
     <add key="ReportDispatchVolume_DPSPath" value="/WMSTekReports/DispatchVolume_DPS" />
     <add key="wsReportingService" value="/ReportService2010.asmx" />
     <add key="wsReportExecutionService" value="/reportexecution2005.asmx" />
     <add key="EnviameApiUrl" value="https://stage.api.enviame.io/api/s2/v2/" />
	 <add key="EnviameApiStgId" value="1015" />
	 <add key="EnviameApiKey" value="6d8d7d9137667419ce9aebeb1f723a61" />
	 <add key="UpLoadImagesOnOrderPath" value="OrderImages"/>
	 <add key="ReportMapicsConciliationPath" value="/WMSTekReports/rptMapicsConciliation" />
 </appSettings>
</configuration>